@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --borderviolet : #7603a8;
    --bgviolet : #c753ff;
    --borderorange : #fca500;
    --bgorange : #f5d800;
    --red:#DC3D24;
    --white : whitesmoke;
    --black: #000000;
    --bluemon : #3264ae;
    --yellowmon : #ffcc00;
    --normalbattleblock : #070707;
    --bgbattleblock: rgba(236,240,241,0.7);
    --battlecolorblock: ;
    --finalsblock: ;
    --bgfinalblock: #DC3D24;
    --finalscolorblock : rgb(236, 240, 241) ;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: no-repeat url("bg.jpg");
    background-size: cover;
    min-width: 100vw;
    min-height: 100vh;
    display: grid;
    overflow: hidden;
    place-items: center;
    
}

.tournament{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr .5fr 1fr;
    place-items: center;
}

.left-part{
    grid-column: 1/2;
}
.middle-section{
    grid-column: 2/3;
}
.right-part{
    grid-column: 3/4;
}
.left-part,.right-part,.middle-section{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.middle-section{
    justify-content:center;
}
.tournament-section{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.battle-block{
    height: 50%;
    width: 30%;
    border: 4px solid var(--normalbattleblock);
    background-color: var(--bgbattleblock);
    border-radius: 10px;
    transform: skewX(25deg);
    display: flex;
    flex-direction: column;
}

.final-block{
    border: 4px solid var(--finalsblock);
    background-color: var(--bgfinalblock);
}
.battle-block hr{
    width: 100%;
    height: 4px;
    background-color : var(--normalbattleblock);
    border: 0;
}

.team-block{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    height: 100%;
    width: 100%;
    transform: skew(-25deg);
    text-transform: uppercase;
    font-family: 'Encode Sans SC', sans-serif;
    color: var(--battlecolorblock);
    text-align: center;
    font-size: 17px;
    letter-spacing: 3px;
    word-spacing: 5px;
    font-weight: 600;
    word-break: keep-all;
}
.final-block .team-block{
    color: var(--finalscolorblock);
}
.right-part .battle-block{
    transform: skew(-25deg);
}
.right-part .team-block{
    transform: skew(25deg);
}
.hidden-block {
    visibility: hidden;
}

.winner-spec{
    position: relative;
    height: 250px;
    width: 250px;
    display: grid;
    place-items: center;
}

.final-block{
    float: right;
}
.bg-images{
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0vw;
}
.bg-images img{
    height: 35vh;
}



.pokeball{
    border-radius: 50%;
    border: 10px solid black;
    height: 80%;
    width: 80%;
    background: var(--red);
    background: linear-gradient(to bottom, var(--red) 50%, whitesmoke 50%);
    display: grid;
    place-items: center;
}

.pokeball:before,.pokeball:after{
    content: "";
    position: absolute;
}
.pokeball:before{
    height: 15px;
    width: 75%;
    background-color: black;
    top: calc(50% - 10px);
}
.pokeball:after{
    width: 20%;
    height: 20%;
    border: 5px solid black;
    background-color: whitesmoke;
    border-radius: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    box-shadow: inset 0 0 0 7px whitesmoke, inset 0 0 0 10px black;
}
